<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA6__CIuxjYbvDEawKH8fpbW2CXSLmpINo</string>
	<key>GCM_SENDER_ID</key>
	<string>812003692578</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.MemoSwipe</string>
	<key>PROJECT_ID</key>
	<string>memoswipe-ef543</string>
	<key>STORAGE_BUCKET</key>
	<string>memoswipe-ef543.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:812003692578:ios:6f66851f1c6e2cbb8e3a7b</string>
</dict>
</plist>